.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/index')=site.name
        img(src='images/yatt.png')
    ul.nav.navbar-nav
      each page in navbarList.middle
       li(class=page.active)
         a(href=page.link)=page.title
    ul.nav.navbar-nav.navbar-right
      each page in navbarList.right
        li(class=page.active)
          a(href=page.link)=page.title
 