doctype html
html(lang='en')

    include /partials/head
    body.container
        include /partials/navbar

        .page-header
            h1 Image placeholder.
            h1 Acquire artist, extract art.

        .jumbotron
            include /partials/alerts
            .row
                .panel.panel-default
                    .panel-heading.panel-title=lang.news

                    .panel-body
                        if userRank >= ranks.MODERATOR
                            label(for='news-toggle')
                                span.glyphicon.glyphicon-plus
                            input.news-toggle(id='news-toggle', type='checkbox')

                            form.add-news(name='addNews', method='post', action=url)
                                panel.panel-primary
                                    .panel-heading
                                        .panel-title
                                            input.form-control(type='text', name='title', placeholder=lang.newTitle, required)

                                    textarea.panel-body.form-control(rows='5' name='text', required)

                                !=csrf
                                button.btn.btn-default(type='submit')=lang.submit

                        each news in index
                            .panel.panel-primary
                                .panel-heading
                                    .panel-title=news.title
                                .panel-body=news.text

                                .panel-footer
                                    .pull-left
                                        small=lang.posted + ' ' + news.created

                                    .news-footer
                                        if userRank >= ranks.MODERATOR
                                            a(href=url + '?removenews=' + news._id)
                                                small=lang.remove
                                        a(href='/')
                                            small=lang.comment

            .row
                .panel.panel-default
                    .panel-heading
                        .panel-title=lang.statistics
                    .panel-body
                        .list-group.pull-left
                            .list-group-item  users online
                            .list-group-item registered users
                            .list-group-item something
                        .list-group.pull-right
                            .list-group-item  torrents uploaded
                            .list-group-item leechers
                            .list-group-item seeders
                            .list-group-item total GiB mediated

