doctype html
html(lang=language)
  include ../../partials/head
  body
    .container
      include ../../partials/navbar

      .jumbotron

        include ../../partials/alerts

        if site.registration
          form.form-register(name='register' method='post' action=url)
            h2.form-register-heading=lang.RegisterAccount
            p.form-register-heading=lang.pleaseFillOut

            .on-focus
              - var tooltip = lang.inputLength + ' ' + site.usernameLength.min + ' ' + lang.and + ' ' + site.usernameLength.max + ' ' + lang.characters + ' ' + lang.beginCharacter;
              input(type='text' name="username" class='form-control' placeholder=lang.username required autofocus)
              .tool-tip=tooltip
              p

              - var tooltip = lang.inputLength + ' ' + site.passwordLength.min + ' ' + lang.and + ' ' + site.passwordLength.max + ' ' + lang.characters;
            .on-focus
              input(type='password' name="password" class='form-control' placeholder=lang.password required)
              .tool-tip=tooltip

            .on-focus
              input(type='password' name='passwordAgain' class='form-control' placeholder=lang.passwordAgain required)
              .tool-tip=lang.samePassword
            p

            .on-focus
              input(type='email' name='email' class='form-control' placeholder=lang.mail required)
              .tool-tip=lang.validMail
            
            !=csrf

            label.checkbox
              input(type='checkbox' name='vow' required)
              =lang.promise
            button(class='btn btn-lg btn-primary btn-block' type='submit')=lang.register
       
         else
          p=lang.registerClosed
