doctype html
html(lang=language)
  include ../../partials/head
  body
    .container
      include ../../partials/navbar
      

      .jumbotron
        form.form-login(name='login' method='post' action=url)
          h2.form-login-heading=lang.pleaseLogin
          input(type='text' name="username" class='form-control' placeholder=lang.username required autofocus)
          input(type='password' name="password" class='form-control' placeholder=lang.password required)
          !=csrf
          label.checkbox
            input(type='checkbox') 
            =lang.rememberMe
          button(class='btn btn-lg btn-primary btn-block' type='submit')=lang.login

        if site.registration
          form.form-register(name='register' method='get' action='/register')=lang.or
            button(type='submit' class='btn btn-default')=lang.registerNow