doctype html
html(lang=language)
  include /partials/head
  body
    .container
      include /partials/navbar

      .jumbotron

        include /partials/alerts

        if site.registration
          form.form-register(name='register' method='post' action=url)
            h2.form-register-heading=lang.RegisterAccount
            p.form-register-heading=lang.pleaseFillOut

            .on-focus
              input(type='text' name="username" class='form-control' placeholder=lang.username required autofocus)
              .tool-tip=usernameTooltip
              p

            .on-focus
              input(type='password' name="password" class='form-control' placeholder=lang.password required)
              .tool-tip=passwordTooltip

            .on-focus
              input(type='password' name='passwordAgain' class='form-control' placeholder=lang.passwordAgain required)
              .tool-tip=samePasswordTooltip
            p

            .on-focus
              input(type='email' name='email' class='form-control' placeholder=lang.mail required)
              .tool-tip=validMailTooltip
            
            !=csrf

            label.checkbox
              input(type='checkbox' name='vow' required)
              =lang.promise
            button(class='btn btn-lg btn-primary btn-block' type='submit')=lang.register
       
         else
          p=lang.registerClosed
