doctype html
html(lang=language)
  include /partials/head
  body
    .container
      include /partials/navbar

      include /partials/alerts

      .panel.panel-primary
        .panel-heading
          .panel-title=torrent.title

        .panel-body
          table.table

            tr
              td=lang.size
              td=torrent.size

            tr
              td=lang.category
              td=torrent.category

            tr
              td=lang.tags
              td=torrent.tags

            tr
              td=lang.infoLink
              td=torrent.infoLink
            tr
              td=lang.leechers
              td=torrent.leechers
            
            tr
              td=lang.seeders
              td=torrent.seeders

            tr
              td=lang.created
              td=torrent.created
              
            tr
              td=lang.uploader
              td=torrent.uploader
              